@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.logo{
    max-height: 100px;
    width: auto;
    cursor: pointer;
}


li, a, button{
   font-family: anton; 
   font-weight: 400;
   font-style: normal;
   color: rgb(255, 253, 253);
   text-decoration: none;
   font-size: 30px;
  
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #44a1a0;
    padding: 5px;
    height: 100px;
}

.nav-links{
    list-style: none;
    height: 100%;
    display: flex;
    transition: all 0.6s ease 0s;

}

.nav-links, li{
    padding: 0px 30px;
    transition: all 0.6s ease 0s;
}

.nav-links, li :hover{
    transition: all 0.6s ease 0s;
    color: black;
}

.icon-cart{
width: 50px;
}

header .icon-cart span{
    width: 30px;
    display: inline;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 50px;
    position: absolute;
}

.footer-cont {
    background-color: #44a1a0;
    padding: 20px;
    flex-shrink: 0;
}

.footer-nav {
    text-align: center;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.footer-links li {
    margin: 0 15px;
}

.footer-links li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
    padding: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
}

.item{
    text-align: center;
}
.product-list .item img {
    height: 250px; 
    width: 200px;  
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-list .item {
    background-color: #fbfbfb;
    padding: 10px; 
    border-radius: 10px; 
    border: 2px solid black; 
    margin: 25px;}

.add-cart{
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #44a1a0;
    color: black;
    padding: 10px;
    margin: 7px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.6s ease 0s;
}


.add-cart:hover{
    color: white;
    transition: all 0.6s ease 0s;
    transform: scaleY(0.9);
    background-color: black;
}

.price{
    letter-spacing: 4px;
}

.top-screen{
    text-align: center;
    background-color: #ececec;
    padding: 10px 3px 15px;
    font-family: anton;
    letter-spacing: 4px;
    

}