{% extends 'layout.html' %}
{% block content %}

<h1 class="top-screen">Brands</h1>
<div class="brand-cont">
    {% for brand in brands %}  <!-- for brand in brands-->
    <a href="{{ url_for('surfboards_by_brand', brand_name=brand[1]) }}" class="brand-item">  <!-- url for the surfbaord under brand name -->
        <img src="{{ brand[2] }}" class="brand-pic" alt="{{ brand[1] }}">  <!--display image from brands table in database -->
        <h2 class="brand-name">{{ brand[1] }}</h2>  <!--  brand name in database-->
    </a>
    {% endfor %}
</div>

{% endblock %}