{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="/static/cart.css">  <!-- links it to the cart.css-->
<h1 class="cart-name">Your Cart</h1>

<div class="main-card-body">
    {% for item in cart %}  <!--for items in the cart  -->
    <div class="card">
        <img src="{{ item.image }}" class="card-img" alt="{{ item.name }}">  <!-- displays the item image in the cart fetched by surfboards -->
        <div class="card-body">  <!-- card body display -->
            <h5 class="card-title">{{ item.name }}</h5>  <!-- items name -->
            <ul class="card-lists">
                <li class="list-group-item">Quantity: {{ item.quantity }}</li> 
                <li class="list-group-item">Price ${{ item.price * item.quantity }}</li>  <!-- the price times the number of same product -->
            </ul>
            <form id="remove_from_cart_form_{{ item.surfboard_id }}" action="{{ url_for('remove_from_cart', surfboard_id=item.surfboard_id) }}" method="post">
                <button type="submit" class="remove-btn" form="remove_from_cart_form_{{ item.surfboard_id }}">Remove</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% if cart %}
<div class="checkout-btn-container">
    <form action="{{ url_for('checkout') }}" method="post">
        <button type="submit" class="buy-btn">Checkout</button>
    </form>
</div>
{% endif %}

{% endblock %}