<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
 
    <header>
      <img src="/static/pictures/surflogo.png" class="logo">
      <nav>
        <ul class="nav-links">
          <li><a href="/surfboard">Shop</a></li>
          <li><a href="/brands">Brands</a></li>
        </ul>
      </nav>
      <a href="/checkout"><button>checkout</button></a>
    </header>
   
    <main>
    {%block content%} {%endblock%} 
    </main>
    <footer>
        
    </footer>
    
</body>
</html>