<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/static/start-pages.css">
</head>
<body class="body-signup"> <!-- Body signup page -->
    <div id="preloader"></div>
    <div class="signup">
        <h1>Signup</h1>
        <form action="{{ url_for('signup') }}" method="post" class="signup-content"> <!-- redicret for the sign up page -->
            <div class="signup-links">
                <label for="username"></label>
                <input type="text" placeholder="Username" name="username" id="username" required class="spacing"> <!--required an input -->
                <label for="password"></label>
                <input type="text" placeholder="Password" name="password" id="password" required class="spacing"> <!-- input required -->
                <input type="submit" value="Signup" class="login-button"> <!-- Button for login -->
            </div>
        </form>
        <div id="error" style="color: red; font-weight: bold;"> <!-- Dislpay an error message if an error occured -->
            {{ message }}
        </div>
        <div>
            <h2 class="login-link"> Already Have Account?<a href="{{ url_for('login') }}" class="signup-link">LOGIN</a></h2>  <!-- Redirect to login page if already have an account -->
        </div>
    </div>
</body>
</html>
