{% extends 'layout.html' %}
{% block content %}
<div class="product-list">
    {% for surfboard in surfboards %}
    <div class="item">
        {% if surfboard[5] %}
        <img src="{{ surfboard[5] }}"  class="item-picture" alt="">
        {% endif %}
        <h2>{{ surfboard[1] }}</h2>
        <div class="price">${{ surfboard[4] }}</div>
        <h3>{{ surfboard[3] }}</h3>
        <form action="{{ url_for('add_to_cart') }}" method="post">
            <input type="hidden" name="surfboard_id" value="{{ surfboard[0] }}">
            <input type="hidden" name="surfboard_name" value="{{ surfboard[1] }}">
            <input type="hidden" name="purchase_price" value="{{ surfboard[2] }}">
            <input type="hidden" name="surfboard_condtion" value="{{ surfboard[3] }}">
            <button type="submit" class="add-cart">Add To Cart</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}